<app-log-out></app-log-out>
<nav class="main-menu">
  <ul>

      <div class="nav-header">
         <app-user-profil></app-user-profil>
      </div>

   
    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-book fa-2x"></i>
        <a class="nav-text" (click)="allUsers()" [routerLink]="['/manager/allUsers']">all user</a>
      </a>
    </li>
    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-book fa-2x"></i>
        <a class="nav-text" [routerLink]="['/manager/addProject']">addProject</a>
      </a>
    </li>
    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-book fa-2x"></i>
        <a class="nav-text" [routerLink]="['/manager/allProjects']">allProjects</a>
      </a>
    </li>
    <li class="has-subnav">
        <a href="#">
          <i class="fa fa-book fa-2x"></i>
          <a class="nav-text" [routerLink]="['/manager/reports']">reports</a>
        </a>
      </li>

  </ul>
</nav> 




<body style="margin-left:100px">

  <router-outlet></router-outlet>
</body>