<div class="dropdown profile-element">
    <span>
        <img alt="image" class="img-circle" width="80px"
             src="./assets/user.png" />
    </span>
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
      <span class="clear">
          <span class="block m-t-xs">
          <strong class="font-bold">{{user.userName}}</strong>
      </span>
          <!-- <span class="text-muted text-xs block">{{loginInfo.title}}</span> -->
      </span>
    </a>
</div>
<div class="logo-element">
    SWWCC
</div>