<div id="cont">
    <div id="menu-fixed" style="top:0px">
      <a href="#cont">
        <i class="material-icons back">&#xE314;</i>
      </a>
      <a href="#">
        <div class="logo">
          <span></span>   
          <p>TITLE</p>
        </div>
        <p class="pmenu">MENU</p>
      </a>
      <hr>
      <ul class="menu">
        <li><i class="material-icons">&#xE88A;</i><p>all user</p></li>
        <li><i class="material-icons">&#xE87A;</i><p>add user</p></li>
        <li><i class="material-icons">&#xE8CC;</i><p>allProjects</p></li>
        <li><i class="material-icons">&#xE8B8;</i><p>addProject</p></li>
        <li><i class="material-icons">&#xE8B6;</i><p>reports</p></li>
      </ul>
      <i class="material-icons info">&#xE88E;</i>
    </div>
    </div>
    
  
